<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Instagram </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="topo">
      <ion-col>
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
          <p>Luiz Alexandre</p>
        </ion-avatar>
      </ion-col>
      <ion-col>
        <h1>200</h1>
        <p>Publicações</p>
      </ion-col>
      <ion-col>
        <h1>200</h1>
        <p>Seguidores</p>
      </ion-col>
      <ion-col>
        <h1>200</h1>
        <p>Seguindo</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" fill="outline" color="dark"
          >Editar Perfil</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-button expand="block" fill="outline" color="dark"
          >Ferramentas</ion-button
        >
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" fill="outline" color="dark"
          >Insights</ion-button
        >
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" fill="outline" color="dark"
          >Adicionar Loja</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row class="topo">
      <ion-col size="3">
        <ion-avatar>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Antarctica_blue_white_blue.jpg"
          />
          <p>Cidade A</p>
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Antarctica_blue_white_blue.jpg"
          />
          <p>Cidade B</p>
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Antarctica_blue_white_blue.jpg"
          />
          <p>Cidade C</p>
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Antarctica_blue_white_blue.jpg"
          />
          <p>Cidade D</p>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Antarctica_blue_white_blue.jpg"
        />
      </ion-col>
      <ion-col size="4">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnWvWCH7BaiHAZBwEJM1wQUaPUnF0ymxJPucial-Rj6_1ykTy0ngHn3S-lFKQsSJuWrLU&usqp=CAU"
        />
      </ion-col>
      <ion-col size="4">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXNts4mcQqa1xaw7wtydxnkCeO0yc5T8koTdGMJV7psFXX2M9Xeke_zktgTsvIzFBscdA&usqp=CAU"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <img
          src="https://a-static.mlcdn.com.br/618x463/quadros-decorativos-paisagem-para-sala-1-peca-m4/artequadro/3478p/5c9b88092f49e68e7197bf869df42f1e.jpg"
        />
      </ion-col>
      <ion-col size="4">
        <img
          src="https://yt3.ggpht.com/ytc/AKedOLQW7deK5EzTjrlHx2CHRsf81h-K4vWWcv5VhC2wLQ=s900-c-k-c0x00ffffff-no-rj"
          height="100"
        />
      </ion-col>
      <ion-col size="4">
        <img
          src="https://a-static.mlcdn.com.br/618x463/quadros-decorativos-paisagem-para-sala-1-peca-m4/artequadro/3478p/5c9b88092f49e68e7197bf869df42f1e.jpg"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Antarctica_blue_white_blue.jpg"
        />
      </ion-col>
      <ion-col size="4">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnWvWCH7BaiHAZBwEJM1wQUaPUnF0ymxJPucial-Rj6_1ykTy0ngHn3S-lFKQsSJuWrLU&usqp=CAU"
        />
      </ion-col>
      <ion-col size="4">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXNts4mcQqa1xaw7wtydxnkCeO0yc5T8koTdGMJV7psFXX2M9Xeke_zktgTsvIzFBscdA&usqp=CAU"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
