@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

ion-title {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  // text-align: center;
  text-shadow: 1px 1px 2px #ccc;
}

.topo {
  margin-bottom: 50px;
}
.topo p {
  font-size: 12px;
}
ion-content {
  // text-align: center;
}

ion-avatar{
  width: 35px;
  height: 35px;
  border: 2px solid green;
  padding: 2px;
}
ion-item{
  margin-left: -15px;
  height: auto;
  --background: transparent; /*Regra para usar quando o item estiver por cima de algum elemento colorido ou foto */
}